{% extends 'e500.html' %}


{% block navbar %}{% endblock navbar %}
    
{% block title %}error 404 | OurProject.com{% endblock title %}

{% block auto-logout %}{% endblock auto-logout %}


{% block error-body %}
<lottie-player src="https://assets4.lottiefiles.com/packages/lf20_kcsr6fcp.json"  background="transparent"  speed="1"  style="width: 900px; height: 500px;"  loop autoplay></lottie-player>
{% endblock error-body %}

{% block reason %}{% endblock reason %}
{% block note %}{% endblock note %}
{% block footer %}{% endblock footer %}
